# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env

# Flask uploads folder (don't upload resumes)
uploads/

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db